{% extends "catalog.html" %}
{% block content %}
    <h1>Category Name: {{ c.name }}</h1>
    <p>Category Description: {{ c.description }}</p>
    {% include "tags/category_list.html" %}
    <br/><br/>
    {% for p in products %}
        <div class="product_thumbnail">
            <a href="{{ p.get_absolute_url }}" style="text-decoration: none">
                <img src="{{ p.image.url }}" style="width: 100px; height: 100px"
                     alt="{{ p.name }}" class="bn"/>
                <br/>
                {{ p.name }}
            </a>
        </div>
    {% endfor %}
{% endblock %} 