{% extends "catalog.html" %}
{% block content %}
    <div class="product_image">
        <img src="{{ product.image.url }}" style="width: 100px; height: 100px" alt="{{ product.name }}"/>
    </div>
    <h1>{{ product.name }}</h1>
    <p>Brand: <em>{{ product.brand }}</em></p>
    <br/><br/>
    SKU: {{ product.sku }}
    <br/>
    In categor{{ categories.count|pluralize:"y,ies" }}:
    {% for c in categories %}
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if not forlooproduct.last %}, {% endif %}
    {% endfor %}
    <br/><br/>
    {% if product.sale_price %}
        Old price: <del>${{ product.old_price }}</del>
        <br/>
        Promotional price: ${{ product.price }}
    {% else %}
        Price: $ {{ product.price }}
    {% endif %}
    <br/><br/>
    <form method="post" action="." class="cart">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type="submit" value="Add To Cart" name="submit" alt="Add To Cart"/>
    </form>
    <div class="cb"></div>
    <br/><br/>
    <div class="cb"><br/><br/></div>
    <h3>Product Description</h3>
    {{ product.description }}
{% endblock %} 